.services {
    width: 40vw;
    height: 40vh;
}

.services-content {
    padding-left: 5rem;
} .services-content > ul > li {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 5px 0;
} .services-content > h1 {
    margin-bottom: 3px;
    margin-top: 3rem;
    font-weight: 600;
} .services-content > h3 {
    margin-top: 3rem;
    font-weight: 600;
}

.quote {
    width: 8rem;
    height: 3rem;
    margin-left: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ff6700;
    border-radius: 2px;
    transition: 0.3s;
} .quote > p {
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: bold;
}
.quote:hover {
    opacity: 0.8;
}



@media only screen and (max-width: 950px) {

    .services {
        width: 85vw;
        height: 50vh;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 15px solid rgb(20, 20, 20);
        border-radius: 5px;
        margin-top: 2rem;
    } .services-content {
        padding: 0;
    }
    
}
