.bio {
    margin-top: 5rem;
    height: 110vh;
    width: 100vw;

    background-color: rgb(71, 71, 71);

    background-size: cover;
}

.bio-overlay {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(20, 20, 20, 0.85);
}

.bio-frame{
    height: 70vh;
    width: 50vw;
    padding: 4rem 10rem;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


img {
    height: 20rem;
}