.hero {
    width: 100vw;
    height: 60vh;

    background-size: cover;
}

.hero-overlay {
    height: 100%;
    width: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.hero-text {
    margin: 0 5rem;
    color: whitesmoke;
    font-size: 2.5rem;

    margin-top: 5.5rem;
}