.carousel {
    width: 60vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-description {
    width: 75%;
    padding: 3rem;
}

.awssld {
    --control-button-opacity: 0.75
}

.awssld--organic-arrows {
    --organic-arrow-color: black;
}

.awssld__controls button {
    background-color: white;
    z-index: 3;
}




@media only screen and (max-width: 950px) {

    .carousel {
        flex-direction: column;
        margin: 10rem;
        width: 100vw;
    }
    .carousel-description {
        width: 90vw;
        padding: 3rem 0;
    }



    .mobile-divider-line-top {
        display: flex;
        margin-left: -20vw;
    }
    .mobile-divider-carousel-top-black {
        height: 5px;
        width: 80vw;
      
        margin: -10vh 0 10vh;
      
        background-color: black;
    }
    .mobile-divider-carousel-top-orangeR {
        height: 5px;
        width: 10vw;
      
        margin: -10vh 0 10vh;
      
        background-color: #ff6700;
    }

    .mobile-divider-line-bottom {
        display: flex;
        margin-right: -15vw;
    }
    .mobile-divider-carousel-bottom-black {
        height: 5px;
        width: 75vw;
      
        margin: 10vh 0 -10vh;
      
        background-color: black;
    }
    .mobile-divider-carousel-bottom-orangeL {
        height: 5px;
        width: 10vw;
      
        margin: 10vh 0 -10vh;
      
        background-color: #ff6700;
    }


    .carousel-arrow {
        border: solid rgb(40, 40, 40);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3vw;
    } 
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
}