.footer {
    width: 100vw;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #dfdfdf;
    color: white;
}

.footer > p {
    font-size: 0.7rem;
}