.third-layer {
  display: flex;
}


.line-o1 {
  width: 7px;
  height: 8vh;

  position: absolute;
  top: 20vh;
  left: 35vw;

  background-color: #ff6700;
  z-index: 3;

  animation-name: o1-line-traversal;
  animation-delay: 1s;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
.line-white {
  width: 7px;
  height: 32vh;

  position: absolute;
  top: 28vh;
  left: 35vw;

  background-color: whitesmoke;
}
.line-black {
  width: 7px;
  height: 25vh;

  position: absolute;
  top: 60vh;
  left: 35vw;

  background-color: rgb(30, 30, 30);
}
.line-o2 {
  width: 7px;
  height: 8vh;

  position: absolute;
  top: 85vh;
  left: 35vw;

  background-color: #ff6700;
  z-index: 3;

  animation-name: o2-line-traversal;
  animation-delay: 1s;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
@keyframes o1-line-traversal {
  0%   { left:35vw; top:20vh; }
  50%  { left:35vw; top:85vh; }
  100% { left:35vw; top:20vh; }
}
@keyframes o2-line-traversal {
  0%   { left:35vw; top: 85vh; }
  50%  { left:35vw; top: 20vh; }
  100% { left:35vw; top: 85vh; }
}




@media only screen and (max-width: 950px) {

  .line {
    display: none;
  }

  .third-layer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}