.third-layer {
  display: flex;
}



.line-o1 {
  width: 7px;
  height: 10vh;

  position: absolute;
  top: 18vh;
  left: 35vw;

  background-color: #ff6700;
}
.line-white {
  width: 7px;
  height: 32vh;

  position: absolute;
  top: 28vh;
  left: 35vw;

  background-color: whitesmoke;
}
.line-black {
  width: 7px;
  height: 25vh;

  position: absolute;
  top: 60vh;
  left: 35vw;

  background-color: rgb(30, 30, 30);
}
.line-o2 {
  width: 7px;
  height: 8vh;

  position: absolute;
  top: 85vh;
  left: 35vw;

  background-color: #ff6700;
}