.nav{
    height: 5.5rem;
    width:100%;

    position: fixed;
    transition: top 0.3s;
    display: flex;

    z-index: 5;
}

.logo {
    width: 12rem;
    height: 5.5rem;
    margin-left: 5rem;

    display: flex;
    align-items: center;
}
.logo > img {
    height: 85%;
    opacity: 0.98;
    transition: 0.2s;
}
.logo > img:hover {
    opacity: 0.8;
}


.nav-content {
    width: 66%;
    display: flex;
    justify-content: space-between;

    background-color: white;
}

.options {
    display: flex;
    align-items: center;
}
.options > a {
    height: 100%;
    display: flex;
    align-items: center;
}
.options > a > h3 {
    height: 66%;
    width: 7rem;

    color: whitesmoke;
    background-color: rgb(40, 40, 40);
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0.5vw;
    transition: 0.3s;
}
.options > a > h3:hover {
    background-color: rgb(70, 70, 70);
}

.nav-shade{
    width: 34%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}




@media only screen and (max-width: 950px) {

    .nav {
        height: 3.5rem;
    }

    .nav-content {
        width: 100vw;
        justify-content: center;
    }

    .options {
        display: none;
    }

    .logo {
        height: 3.5rem;

        margin: 0;
        width: 10rem;

    }

    .nav-shade {
        display: none;
    }
    
}